@model List<MyProject.Models.Article>
@{
    ViewBag.Title = "博客列表";
}
<p></p>
@{ 
    foreach (var o in Model)
    {
        <text><p><a href="/Home/Item/@o.id">@o.title</a><span style="padding-left:10px;display:none;">@(Common.St.GetDateTimeString(o.addtime))</span></p></text>
    }
}
